In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import csv

#NEED TO CHANGE FILEPATH ON GITHUB
BANKDATA = "/Users/meisan/Documents/GitHub/GA-DAT9-Projects1/R_Morgan_Project4_Files/Bank_Marketing_Data.csv"
with open(BANKDATA, 'r') as b:
    data = b.read()
    new_data = data.replace('"','')
sep_data = new_data.split('\n')

#split each row into list, append each new list as an element of 'bank_data'
bank_data = []
for row in sep_data:
    bank_data.append(row.split(';'))
    
dl = pd.DataFrame(bank_data)
dl.columns = dl.iloc[0]
dh = dl.drop(dl.index[0])
df = dh.drop(dh.index[-1])
df.dtypes

0
age               object
job               object
marital           object
education         object
default           object
housing           object
loan              object
contact           object
month             object
day_of_week       object
duration          object
campaign          object
pdays             object
previous          object
poutcome          object
emp.var.rate      object
cons.price.idx    object
cons.conf.idx     object
euribor3m         object
nr.employed       object
y                 object
dtype: object

In [2]:
#give columns clearer names
df.rename(columns={'housing':'has_housing_loan','loan':'has_personal_loan','contact':'contact_method','month':'last_comm_month','day_of_week':'last_comm_weekday','duration':'last_comm_duration','campaign':'contacts_during_campaign','pdays':'prev_camp_days_passed','previous':'num_prev_contacts','poutcome':'prev_camp_outcome','emp.var.rate':'emp_var_rate','cons.price.idx':'cons_price_idx','cons.conf.idx':'cons_conf_idx','euribor3m':'euribor_3m','nr.employed':'num_employed','y':'converted'}, inplace=True)
df.head()

,age,job,marital,education,default,has_housing_loan,has_personal_loan,contact_method,last_comm_month,last_comm_weekday,...,contacts_during_campaign,prev_camp_days_passed,num_prev_contacts,prev_camp_outcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor_3m,num_employed,converted
1,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
5,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [3]:
#redefine the type of numeric columns
df['age'] = df.age.astype(int)
df['last_comm_duration'] = df.last_comm_duration.astype(int)
df['contacts_during_campaign'] = df.contacts_during_campaign.astype(int)
df['prev_camp_days_passed'] = df.prev_camp_days_passed.astype(int)
df['num_prev_contacts'] = df.num_prev_contacts.astype(int)
df['emp_var_rate'] = df.emp_var_rate.astype(float)
df['cons_price_idx'] = df.cons_price_idx.astype(float)
df['cons_conf_idx'] = df.cons_conf_idx.astype(float)
df['euribor_3m'] = df.euribor_3m.astype(float)
df['num_employed'] = df.num_employed.astype(float)

df.describe(include='all')

,age,job,marital,education,default,has_housing_loan,has_personal_loan,contact_method,last_comm_month,last_comm_weekday,...,contacts_during_campaign,prev_camp_days_passed,num_prev_contacts,prev_camp_outcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor_3m,num_employed,converted
count,41188.00000,41188,41188,41188,41188,41188,41188,41188,41188,41188,...,41188.000000,41188.000000,41188.000000,41188,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188
unique,NaN,12,4,8,3,3,3,2,10,5,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,2
top,NaN,admin.,married,university.degree,no,yes,no,cellular,may,thu,...,NaN,NaN,NaN,nonexistent,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,10422,24928,12168,32588,21576,33950,26144,13769,8623,...,NaN,NaN,NaN,35563,NaN,NaN,NaN,NaN,NaN,36548
mean,40.02406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.567593,962.475454,0.172963,NaN,0.081886,93.575664,-40.502600,3.621291,5167.035911,NaN
std,10.42125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.770014,186.910907,0.494901,NaN,1.570960,0.578840,4.628198,1.734447,72.251528,NaN
min,17.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,NaN,-3.400000,92.201000,-50.800000,0.634000,4963.600000,NaN
25%,32.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,999.000000,0.000000,NaN,-1.800000,93.075000,-42.700000,1.344000,5099.100000,NaN
50%,38.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,999.000000,0.000000,NaN,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000000,999.000000,0.000000,NaN,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,98.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.000000,999.000000,7.000000,NaN,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

In [5]:
subs_dist = df['converted'].value_counts()
subs_dist.plot.bar(x = 'converted', title='Distribution')

no     36548
yes     4640
Name: converted, dtype: int64